<!DOCTYPE html>
<html>

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="dist/ez-file-tree.min.css" rel="stylesheet">

  <style>
    a i {
     padding-right: 5px;
    }
  </style>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.angularjs.org/1.2.1/angular.js"></script>

  <script src="src/js/ez-file-tree.js"></script>
  <script src="dist/ez-file-tree.tpl.js"></script>


  <script>
    angular.module('myApp', ['ez.fileTree'])

      .controller('DemoCtrl', ['$scope', function($scope) {

        $scope.getChildren = function(data) {
          data.children = [
            {
              id: Math.floor(Math.random()*1111),
              name: 'Folder ' + Math.floor(Math.random()*1111),
              type: 'folder'
            },
            {
              id: Math.floor(Math.random()*1111),
              name: 'File ' + Math.floor(Math.random()*1111),
              type: 'file'
            },
            {
              id: Math.floor(Math.random()*1111),
              name: 'File ' + Math.floor(Math.random()*1111),
              type: 'file'
            }
          ];
        };

        $scope.folder = {
          id: 'root',
          name: 'Root',
          type: "folder",
          children: [
            {
              id: "Folder 1",
              name: "1",
              type: "folder",
              children: [
                {
                  id: "Folder 1a",
                  name: "1a",
                  type: "folder",
                  children: [
                    {
                      id: "1a1",
                      name: "1a1"
                    },
                    {
                      id: "1a2",
                      name: "1a2",
                      type: "folder"
                    },
                    {
                      id: "1a2",
                      name: "1a2"
                    }
                  ]
                },
                {
                  id: "1b",
                  name: "1b"
                },
                {
                  id: "1c",
                  name: "1c"
                }
              ]
            },
            {
              id: "Folder 2",
              name: "2",
              type: "folder",
              children: [
                {
                  id: "2a",
                  name: "2a",
                  type: "folder",
                  children: [
                    {
                      id: "2a1",
                      name: "2a1"
                    },
                    {
                      id: "2a2",
                      name: "2a2"
                    },
                    {
                      id: "2a2",
                      name: "2a2"
                    }
                  ]
                },
                {
                  id: "2b",
                  name: "2b"
                },
                {
                  id: "2c",
                  name: "2c"
                }
              ]
            },
            {
              id: "Root file",
              name: "Root file",
            }
          ]
        };

        $scope.folder2 = {
          id: 'root',
          name: 'Root',
          children: [
            {
              id: 1,
              name: 'random',
              type: 'folder'
            }
          ]
        };

        $scope.folder3 = {
          id: 'root',
          name: 'Root',
          children: {
            '1': {
              id: 1,
              name: 'random',
              type: 'folder'
            },
            '2': {
              id: 2,
              name: 'other',
              type: 'file'
            }
          }
        };

      }])

      .filter('stringify', function() {
        return function(ob) {
          return JSON.stringify(ob, undefined, 4);
        };
      })
    ;
  </script>

</head>

<body ng-app="myApp">
  <div ng-controller="DemoCtrl">
    <script type="text/ng-template" id="toc.html">
      <div>
        <span>{{ data.name }}</span>
        <ul>
          <li ng-show="data._active" ng-repeat="data in data.children">
            <div ng-include="'toc.html'"></div>
          </li>
        </ul>
      </div>
    </script>

    <table style="width: 100%;">
      <tr>
        <td style="width: 40%; vertical-align: top;">
          <h3>Folder 1</h3>
          <div ez-file-tree="folder"></div>
          <hr>
          Selected File: {{ folder._selectedFile | stringify }}

          <br>
          <hr>
          <h3>Folder 2</h3>
          <div ez-file-tree="folder2" multi-select="true" enable-checking="true" data-get-children="getChildren"></div>
          <hr>
          Selected Files: {{ folder2._selectedFiles | stringify }}

          <hr>
          <h3>Folder2 Table of Contents</h3>
          <ul>
            <li ng-show="data._active" ng-repeat="data in folder2.children">
              <div ng-include="'toc.html'"></div>
            </li>
          </ul>

          <hr>

          <h3>Folder 3</h3>
          <div ez-file-tree="folder3" data-get-children="getChildren"></div>
          <hr>
          Selected File: {{ folder3._selectedFile | stringify }}
        </td>
        <td>
          Folder2 dump
          <pre style="font-size: 10px;">{{ folder2 | stringify }}</pre>
        </td>
      </tr>
    </table>

  </div>
</body>

</html>
