<div class="label-container" ng-class="{selected: data._selected}">

  <span class="folder-toggle" data-ng-click="toggle($event, data)">
    <i ng-class="config.icons.chevronRight" title="Open folder" data-ng-show="!data._open && config.isFolder(data)"></i>
    <i ng-class="config.icons.chevronDown" title="Close folder" data-ng-show="data._open && config.isFolder(data)"></i>
  </span>

  <label>
    <input type="checkbox" ng-checked="data._selected" ng-click="select($event, data)" ng-show="showCheckbox(data)"/>
    <span ng-dblclick="toggle($event, data)">
      <span class="icon-container">
        <i ng-class="config.icons.folder" ng-show="config.isFolder(data) && !data._open"></i>
        <i ng-class="config.icons.openFolder" ng-show="config.isFolder(data) && data._open"></i>
        <i ng-class="config.icons.file" ng-show="!config.isFolder(data)"></i>
      </span>
      <span class="file-name">{{data.name}}</span>
    </span>
  </label>

</div>

<ul ng-show="data._open">
    <li ng-repeat="data in data[config.childrenField] | object2array | orderBy:['-type', 'name']" ng-include="'ez-file-tree.html'"></li>
</ul>
