.ez-file-tree {
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0;

  i {
    margin-right: 5px;
  }
  
  input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin: 0 5px 0 -15px;
  }

  li {
    cursor: pointer;
  }

  .folder-toggle i {
    margin-left: -10px; 
    
    &:hover {
      color: #ccc;
    }
  }

  .file-name { 
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 5px;
  }

  .label-container.selected {
    .file-name {
      background-color: #006dcc;
      color: #fff;
    }
  }
}
